.header {
    margin: 0px;
    padding: 0.1rem;
    background-color: beige;
    text-align: center;
    background-color: rgba(255, 69, 0, 0.7);
}

.header h1 {
    font-size: 3rem;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}